p {
  margin: 0;
  padding: 0;
}

#results {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-areas: "dm-list main";
}

#search-threads-input {
  display: none;
}

#dm-list {
  grid-area: dm-list;
  display: flex;
  flex-direction: column;
}

#main {
  grid-area: main;
}

/* Displaying messages */
.message-wrapper {
  margin: 1rem auto;
}

.message-header {
  color: red;
}

.message-media {
  color: red;
}